.host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.host h1 {
    margin: 0 0 8px 0;
}

.host h4 {
    margin: 0 0 24px 0;
    font-weight: 400;
    color: #333;
}

.card {
    display: flex;
    flex-direction: column;
}
