.host fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fafafa;
    padding: 4px 16px;
}

.row,
.amountRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.amountRow {
    align-items: flex-start;
}

.row:not(:last-child) {
    margin-bottom: 24px;
}

.cell {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.cell > *:not(:last-child) {
    margin-bottom: 8px;
}

.directionSymbol {
    display: flex;
    width: 24px;
    align-items: center;
    margin: auto 8px;
}

.directionSymbol:after {
    content: '';
    display: flex;
    height: 16px;
    width: 16px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}

.select > span {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.submitButton {
    margin-left: auto;
    min-width: 250px;
}

.targetAmountValue {
    margin-top: auto;
    font-size: 32px;
    display: flex;
    line-height: 1;
    color: green;
}

.targetAmountValue:before {
    content: '+';
}
