.host {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    margin: 0;
}

.host:focus {
    border-color: #2684FF;
    border-width: 2px;
    margin: -1px;
}

.host.invalid {
    border-color: #ff6b6b;
    border-width: 2px;
    margin: -1px;
}
